body {
    margin: 0;
    padding: 0;
}

#kalenderC {
    height: 50vh;
    width: 100%;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.pil {
    height: 40%;
}

#weekChoice {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 20%;
    min-height: 65px;
}

#week1 {
    display: flex;
}

#week2 {
    display: none;
}

#week3 {
    display: none;
}

#week4 {
    display: none;
}

.week {
    justify-content: center;
    font-size: 99px;
    font-family: 'VT323', monospace;
    margin: 0;
    font-weight: 300;
    color: black;
}

.datum {
    color: black;
    font-size: 35px;
    font-family: 'VT323', monospace;
    text-align: center;
    margin: 0;
    font-weight: 300;
}

#cWeek1 {
    display: flex;
}

#cWeek2 {
    display: none;
}

#cWeek3 {
    display: none;
}

#cWeek4 {
    display: none;
}

.cWeek {
    justify-content: center;
}

table {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
}

tbody {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100%;
}

tr {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100%;
}

th {
    width: 20%;
}

td {
    height: 50px;
    background-color: white;
    text-align: center;
}

.bookedTime {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80%;
}

.call {
    background-color: white;
    width: 95%;
    height: 35%;
    display: flex;
    font-size: clamp(1.6rem, 5vw, 2vh);
    font-family: 'VT323', monospace;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    border: solid black 2px;
    min-height: 50px;
    max-width: 120px;
}

.booknC {
    height: 32%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookN {
    height: 80%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bookNknapp {
    background-color: white;
    width: 40%;
    height: 35%;
    display: flex;
    align-items: center;
    font-family: 'VT323', monospace;
    border: solid black 2px;
    font-weight: 300;
    font-size: 1.7vw;
    justify-content: center;
}

#formC {
    position: absolute;
    width: 100%;
    height: 50vh;
    transition: transform 2s ease-in-out;
    background-color: lightskyblue;
    transform-style: preserve-3d;
    perspective: 1000px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: unset;
    justify-content: space-evenly;
    position: relative;
    height: 100%;
}

label {
    height: fit-content;
    padding: 1%;
    width: 84%;
    display: flex;
    align-items: center;
    font-size: 38px;
    justify-content: space-between;
    font-family: 'VT323', monospace;
}

input {
    border: solid black 3px;
    width: 65%;
}

input[type="text" i] {
    padding: 1px 2px;
    font-size: 30px;
    font-family: 'VT323', monospace;
    max-width: 350px;
}

input[type="number" i] {
    padding: 1px 2px;
    font-size: 30px;
    font-family: 'VT323', monospace;
    max-width: 350px;
}

#inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="checkbox" i] {
    height: 30px;
    margin-right: 5%;
    box-shadow: 0px 0px 0px 2px rgb(0 0 0);
    width: 30px;
    cursor: pointer;
    appearance: unset;
    background-color: white;
    border: none;
    border-radius: 0%;
}

input[type="checkbox" i]:checked {
    height: 30px;
    margin-right: 5%;
    box-shadow: 0px 0px 0px 2px rgb(0 0 0);
    width: 30px;
    cursor: pointer;
    appearance: auto;
    background-color: white;
    border: none;
    border-radius: 0%;
}

#checkboxx {
    display: flex;
    height: fit-content;
    width: 75%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    margin-bottom: 20px;
}

#checkboxText {
    font-size: 22px;
    font-family: 'VT323', monospace;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

#yeit {
    height: 95px;
    width: 60%;
    font-family: 'VT323', monospace;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    border: white solid 4px;
    text-shadow: -4px 3px rgb(255 94 144);
    max-width: 280px;
}

#validateText {
    font-size: 30px;
    font-family: 'VT323', monospace;
}