@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    background: rgb(29,28,26);
    background: linear-gradient(180deg, rgba(29,28,26,1) 2vh, rgba(31,37,53,1) 5vh, rgba(38,59,116,1) 35vh, rgba(125,172,214,1) 87vh);
}
 /* 1D8BFF */
main {
    position: relative;
    overflow: hidden;
}

header div {
    z-index: 3;
}

header .drop {
    background-color: #042D5C !important;
}

#lottie-animation-1 {
    position: absolute;
    width: fit-content;
    height: 15vh;
    top: 270px;
    left: 30%;
    z-index: 5;
}

#lottie-animation-2 {
    position: absolute;
    width: 50%;
    height: fit-content;
    top: -30px;
}

#lottie-animation-3 {
    position: absolute;
    width: 50%;
    height: fit-content;
    top: -30px;
    right: 0;
}

#lottie-animation-4 {
    position: absolute;
    width: auto;
    height: 200px;
    top: 280px;
    left: 45%;
    z-index: 5;
}

#lottie-animation-5 {
    position: absolute;
    width: fit-content;
    height: 12vh;
    top: 275px;
    left: 60%;
    z-index: 5;
}

#lottie-animation-5 svg:nth-of-type(2) {
    display: block;
    position: absolute;
    width: auto !important;
    height: 150px !important;
    top: 120px;
    left: 55px;
}

#lottie-animation-6 {
    position: absolute;
    width: 1920px;
    z-index: 0;
    bottom: -470px;
}

svg g g:nth-of-type(3) g:nth-of-type(2) {
    display: none;
}

.sten {
    height: 500px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.hero {
    position: relative;
    min-height: 840px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.hero .headings {
    z-index: 10;
    background-image: url(../images/portfolio/moln.svg);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.moln {
    display: none;
}

.hero .headings h1 {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3.5em;
    text-align: center;
    z-index: 2;
}

.hero .headings span {
    position: relative;
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    text-align: center;
    z-index: 2;
}

.underTitel {
    display: block;
    width: 80%;
    margin: 0 auto;    
    color: #000000;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
}

.banner {
    position: relative;
    display: block;
    width: 100%;
    height: fit-content;
    padding: 40px 0 0px 0;
    background-color: white;
    z-index: 10;
}

.grid {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid .info {
    width: 80%;
    min-height: 400px;
    height: fit-content;
    background: linear-gradient(90deg, #0080ff42 0%, #0080ff17 50%);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0 100px 0;
    transition: opacity 1s ease-in-out;
}

.grid .pil {
    display: block;
    width: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.grid .pilV {
    position: absolute;
    top: 130px;
    left: 20%;
}

.grid .pilH {
    position: absolute;
    top: 130px;
    right: 20%;
    transform: rotateZ(180deg);
}

.grid .pil img {
    width: 100%;
    height: auto;
}

.grid .info .head {
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.grid .info .hej {
    min-height: 125px;
    height: 100%;
    min-width: 25%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.grid .info .hej img {
    min-height: 80px;
    max-height: 120px;
    max-width: 460px;
}


.grid .info h2 {
    width: 70%;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    margin-left: 30px;
}

.grid .info .exImg {
    width: 80%;
    margin: 40px;
    border-radius: 15px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: #00123a;
    margin: 0 0 12px 0;
}

.grid .info .infoText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1em;
}

.buttons{
    position: relative;
    height: fit-content;
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 40px 0;
    z-index: 5;
}

.buttons .link {
    min-height: 80px;
    max-height: 90px;
    min-width: 180px;
    width: 30%;
    max-width: 200px;
    text-decoration: none;
}

.buttons .link button{
    min-width: 150px;
    width: 100%;
    max-width: 220px;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 25px;
}

.buttons .link:nth-of-type(1) button:nth-of-type(1) {
    background-color: #4b74a9;
}

.buttons .link:nth-of-type(2) button:nth-of-type(1) {
    background-color: #4d846b;
}

.buttons .link:nth-of-type(1) button:nth-of-type(1):hover {
    background-color: white;
    color: #4b74a9;
    cursor: pointer;
}

.buttons .link:nth-of-type(2) button:nth-of-type(1):hover {
    background-color: white;
    color: #4d846b;
    cursor: pointer;
}

@media only screen and (max-width:970px) {

    .hero {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hero .headings {
        background-size: cover;
    }

    #lottie-animation-1 {
        position: absolute;
        width: 100%;
        height: 200px;
        top: 280px;
        left: unset;
        display: flex;
        z-index: 5;
        flex-direction: column;
        align-items: center;
    }

    #lottie-animation-1 svg:nth-of-type(2) {
        display: block;
        position: absolute;
        width: auto !important;
        height: 130px !important;
        top: 200px;
        left: unset;
    }
    
    #lottie-animation-2 {
        position: absolute;
        width: 100%;
        height: 85%;
        top: 0;
    }

    #lottie-animation-3 {
        display: none;
    }

    #lottie-animation-4 {
        display: none;
    }

    #lottie-animation-5 {
        display: none;
    }

    .grid .pilV {
        position: absolute;
        top: 115px;
        left: 20%;
    }

    .grid .pilH {
        position: absolute;
        top: 115px;
        right: 20%;
        transform: rotateZ(180deg);
    }

    .grid .info .hej {
        min-height: unset;
        height: 100%;
        min-width: 25%;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }

    .grid .info .hej img {
        min-height: 80px;
        max-height: 120px;
        max-width: 250px;
    }

}

@media only screen and (max-width:750px) {

    .grid .info {
        width: 95%;
    }

    #lottie-animation-1 {
        position: absolute;
        width: 100%;
        height: 140px;
        top: 280px;
        left: unset;
        display: flex;
        z-index: 5;
        flex-direction: column;
        align-items: center;
    }

    #lottie-animation-6 {
        position: absolute;
        width: 1920px;
        z-index: 4;
        bottom: -470px;
    }

    .underTitel {
        font-size: 1.8em;
    }
    
    .buttons {
        position: relative;
        height: fit-content;
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        margin: 0 0 40px 0;
        z-index: 5;
        flex-direction: column;
        align-items: center;
    }

    .buttons .link {
        min-height: 80px;
        max-height: unset;
        min-width: 180px;
        width: 70%;
        max-width: unset; 
        text-decoration: none;
    }

    .buttons .link button {
        min-width: 150px;
        width: 100%;
        max-width: unset;
        height: 100%;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2em;
        color: white;
        border: none;
        border-radius: 15px;
        padding: 25px;
        margin: 10px auto;
        display: block;
    }

    .grid .info .head {
        min-height: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .grid .info .hej img {
        min-height: 80px;
        max-height: 120px;
        max-width: 190px;
    }

    .grid .pil img {
        width: 70%;
        height: auto;
    }

    .grid .pilH {
        position: absolute;
        top: 95px;
        right: 5%;
        transform: rotateZ(180deg);
    }

    .grid .pilV {
        position: absolute;
        top: 95px;
        left: 5%;
    }

    .grid .info .exImg {
        width: 80%;
        margin: 20px 40px 40px 40px;
        border-radius: 15px;
    }

}

@media only screen and (max-width:460px) {
    
    .hero .headings h1 {
        font-size: 2.8em;
    }

    .hero .headings span {
        font-size: 1.5em;
    }

    #lottie-animation-1 {
        position: absolute;
        width: 100%;
        height: 120px;
        top: 280px;
        left: 30%;
        display: flex;
        z-index: 5;
        flex-direction: column;
        align-items: center;
    }

    .buttons .container {
        position: relative;
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: center;
        z-index: 5;
        flex-direction: column;
        align-items: center;
    }

    .buttons .container a {
        min-height: 70px;
        height: 90px;
        min-width: 150px;
        width: 60%;
        max-width: 200px;
        margin: 5% 0;
    }

    .underTitel {
        font-size: 1.25em;
    }
}

@media only screen and (max-width:300px) {

    .hero .headings h1 {
        font-size: 1.8em;
    }

    .hero .headings span {
        font-size: 1.1em;
    }

    .underTitel {
        font-size: 1.1em;
    }

    .grid .info .hej img {
        min-height: 80px;
        max-height: 120px;
        max-width: 130px;
    }

}