/* (A) FULL SCREEN WRAPPER */
:root {
  --blue: #6dd3ce;
  --green: #558730;
  --pink: #ff5e90;
  --scrolly: #000000;
  --track: black;
  --border: black;
  --matrix: #11ff54 ;
}

#loading-screen {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--pink);
  z-index: 1000;
}

#loadgif {
  position: absolute;
  height: auto;
  width: 20vw;
  max-width: 200px;
  top: 0%;
  left: 0%;
  animation: loadgif 10s linear infinite;
}

#logo {
  width: 50vw;
  max-width: 450px;
  height: auto;
}

@media only screen and (min-width:1130px) {

  @keyframes loadgif {
      0% {
          transform: rotate(0deg);
          top: 35vh;
          left: 25vw;
      }
      
      25% {
          transform: rotate(90deg);
          top: 15vh;
          left: 45vw;
      }
      50% {
          transform: rotate(180deg);
          top: 35vh;
          left: 65vw;
      }
      75% {
          transform: rotate(270deg);
          top: 55vh;
          left: 45vw;
      }
      100% {
          transform: rotate(360deg);
          top: 35vh;
          left: 25vw;
      }
  
    }
}

@media only screen and (max-width:1130px) {

  @keyframes loadgif {
      0% {
          transform: rotate(0deg);
          top: 40vh;
          left: 20vw;
      }
      25% {
          transform: rotate(90deg);
          top: 30vh;
          left: 40vw;
      }
      
      50% {
          transform: rotate(180deg);
          top: 40vh;
          left: 60vw;
      }
      75% {
          transform: rotate(270deg);
          top: 60vh;
          left: 40vw;
      }
      100% {
          transform: rotate(360deg);
          top: 40vh;
          left: 20vw;
      }
  
    }
}

@media only screen and (max-width:820px) {

  @keyframes loadgif {
      0% {
          transform: rotate(0deg);
          top: 40vh;
          left: 20vw;
      }
      25% {
          transform: rotate(90deg);
          top: 30vh;
          left: 40vw;
      }
      
      50% {
          transform: rotate(180deg);
          top: 40vh;
          left: 60vw;
      }
      75% {
          transform: rotate(270deg);
          top: 60vh;
          left: 40vw;
      }
      100% {
          transform: rotate(360deg);
          top: 40vh;
          left: 20vw;
      }
  
    }
}

@media only screen and (min-width:1700px) {
    
  #loadgif {
      height: auto;
      width: 20%;
  }

}